html,
body
    height: 100%
    font-family: $raleway
    font-size: 18px  
    color: $text 
    
body
    padding-top: 125px 

.container
    @media (min-width: 1200px)
        max-width: 1180px
.rounded
    border-radius: 7px  !important
.border
    &--big
        border-width: 14px !important
    &--mid
        border-width: 8px !important

.primary-content
	padding-bottom: 90px
	padding-top: 33px 
	display: flex

	@media (min-width: 1200px)
		padding-left: 30px
		padding-right: 30px 
		
+placeholder
	opacity: 1