html,
body
    height: 100%
    font-family: $raleway
    font-size: 18px  
    color: $text 
    
body
    padding-top: 125px 

.container
    @media (min-width: 1200px)
        max-width: 1180px
        
+placeholder
	opacity: 1