.heading
	margin-bottom: 30px

	h2
		font-size: 18px
		font-weight: 400  
		margin-bottom: 0 
		padding: 10px 0
		
		strong
			font-weight: 700 
			
		& + small
			font-size: 14px 
			display: block
			margin-top: -5px 
		

.items-list
	margin-bottom: 40px

	.item
		background-color: #f8f8f8
		padding:  20px 25px
		font-size: 14px 
		font-weight: 400 
		
		&:not(:last-child)
			margin-bottom: 25px 
		
		&__title
			font-size: 18px 
			font-weight: 700 
			margin-bottom: 3px
			
		&__description
			margin-bottom: 0 
			
		&__counters
			p
				margin-bottom: 0 
				

.tc-message
	padding: 25px
	margin-right: 25px 
	background-color: #ccc
	display: flex
	
	&__user
		width: 120px
		text-align: center
		
		.user-pic
			width: 100%
			padding-top: 100%
			position: relative
			overflow: hidden 
			border-radius: 50% 
			border: 1px solid $blue
			
			img
				position: absolute
				top: 50%
				left: 50%
				transform: translate(-50%, -50%) 
				width: 100%
		

	&__content
		flex: 1 1 auto
		padding-left: 25px 