.heading
	margin-bottom: 30px

	h2
		font-size: 18px
		font-weight: 400  
		margin-bottom: 0 
		padding: 10px 0
		
		strong
			font-weight: 700 
			
		& + small
			font-size: 14px 
			display: block
			margin-top: -5px 
		

.items-list
	margin-bottom: 40px

	.item
		background-color: #f8f8f8
		padding:  20px 25px
		font-size: 14px 
		font-weight: 400 
		
		&:not(:last-child)
			margin-bottom: 25px 
		
		&__title
			font-size: 18px 
			font-weight: 700 
			margin-bottom: 3px
			
		&__description
			margin-bottom: 0 
			
		&__counters
			p
				margin-bottom: 0 
				

.tc-message
	padding: 15px
	margin-right: 25px 
	display: flex
	
	&:not(:last-child)
		margin-bottom: 35px 
	
	&:nth-child(even)
		background-color: #F8F8F8 
	
	&__user
		width: 120px
		text-align: center
		
		.user-pic
			width: 100%
			padding-top: 100%
			position: relative
			overflow: hidden 
			border-radius: 50% 
			border: 1px solid $blue
			box-sizing: content-box
			
			img
				position: absolute
				top: 50%
				left: 50%
				transform: translate(-50%, -50%) 
				width: 100%
				
		.user-name
			font-size: 14px
			
		.user-status
			font-size: 12px 
			margin-bottom: 0 
		

	&__content
		width: -webkit-calc(100% - 120px)
		width: calc(100% - 120px)
		padding-left: 25px 
		font-size: 14px  
		
		.content-footer
			.total-likes
				margin-left: 50px
				 
			p
				margin-bottom: 0
				
		.tc-action
			margin: 0 8px
			color: $text
			

.reply-form
	padding-top: 30px
	
	.rf-heading
		font-size: 14px 
		margin-bottom: 30px 
		
		p
			margin-bottom: 0 
			
	.button-group
		margin-top: 30px 
		margin-bottom: 0 
		
		.btn
			width: 115px