.footer
	background-color: $gray-800 
	color: #999 
	padding: 80px 0
	font-size: 15px
	@media(max-width: 599px)
		font-size: 14px 
	a
		color: inherit

	p,
	address
		margin-bottom: 0 
	

	&-menus	
		margin-bottom: 50px
		 
	&-menu
		font-size: 17px
		padding-bottom: 25px 
		@media(max-width: 599px)
			font-size: 15px 
		ul
			padding: 0
			margin: 0 
			
		li
			display: inline-block
			margin: 0 10px
			
	&-menu + &-menu
		padding-top: 25px
		border-top: 1px solid #fff 
			
	&-copyright,
	&-phone
		margin-bottom: 20px 
		
.map
	height: 510px 
	margin: 60px auto 35px 
	@media (min-width: 1200px)
		height: 400px
	@media(max-width: 767px)
		height: 300px 
	@media(max-width: 400px)
		height: 250px 

address
	line-height: 1.7 
	strong
		margin-bottom: 25px
		display: block 