.offer
	+flex($d: column, $ai: center, $j: center)
	
	background-position: 50% 50%
	-webkit-background-size: cover
	-o-background-size: cover
	background-size: cover
	
	&--fluid
		padding-bottom: 25%
	

