.offer
	height: 465px 
	padding-top: 45px 
	+flex($d: column, $ai: center, $j: flex-start)
	
	&--centerLeft
		justify-content: center 
		padding: 20px 0 
	
	background-position: 50% 50%
	-webkit-background-size: cover
	-o-background-size: cover
	background-size: cover
	
	&--fluid
		height: auto 
		padding: 0 
		padding-bottom: 25%
	
	&__info
		max-width: 450px 
		h1
			color: $text-lighter
			font-size: 66px 
		p
			color: $green
			font-size: 17px 
		&--green
			margin-top: 40px 
			background-color: rgba(78, 185, 38, .9) 
			max-width: 790px 
			padding: 40px 20px 40px 40px 
			h1, p
				color: #FFF  
			h1
				font-size: 48px 
	&__form
		min-width: 310px 
