.nav-tabs
    border: none
    .nav-link
        font-size: 15px 
        background-color: $blue
        border-radius: 0 
        border: none
        color: #fff 
        &.active
            background-color: #FFF
            color: $blue 
            border-radius: 0  
            &:first-child
                border-top-left-radius: 5px
            &:last-child
                border-top-right-radius: 5px



.pagination
    font-size: 14px 
    margin-bottom: 0 

    .page-link
        border-radius: 0!important
        border: 0
        color: $text
        transition: all 0.3s ease



.form-control
    border-radius: 0
    border-width: 2px
    border-color: #ddd 
    color: $text-light
    font-size: 14px 
    
.btn
    font-size: 14px 
    border-radius: 0
    padding: 0.6rem 0.75rem
    cursor: pointer